<% if obj.errors.any? %>
  <div class="well">
    <h3>Please Fix the Following Errors:</h3>

    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
